{% extends "::admin.html.twig" %}

{% block title %}Types{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{% block head_title %}Types{% endblock %}
                <small>{% block head_small %}Gestion des types de participants{% endblock %}</small>

                <div class="pull-right">
                    <div class="btn-group" style="">
                        <a class="btn btn-success" href="{{ url("bderevent_typesmanager_add") }}">Ajouter</a>
                    </div>
                </div>
            </h1>
        </div>
        <div class="row">
            <table id="table_participants" class="table table-bordered table-hover table-striped">
                <thead>
                <tr id="search">
                    <th class="col-md-9">Nom</th>
                    <th class="col-md-2">Peut Inviter ?</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody id="participants">
                {% for type in types %}
                    <tr>
                        <td>{{ type.name }}</td>
                        <td>{{ type.canInvite?'oui':'non' }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a href="{{ url("bderevent_typesmanager_edit",{id:type.id}) }}"
                                   class="btn btn-primary">{{ icon('edit') }}</a>
                                <a href="{{ url("bderevent_typesmanager_delete",{id:type.id}) }}"
                                   class="btn btn-danger">{{ icon('trash') }}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
