{% extends "::admin.html.twig" %}

{% block title %}Participants{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{% block head_title %}Participants{% endblock %} <small>{% block head_small %}Gestion des participants{% endblock %}</small>

            <div class="pull-right">
                <div class="btn-group" style="">
                    <a class="btn btn-primary" href="{{ url("bderevent_participantsmanager_import") }}">Importer</a>
                    <a class="btn btn-success"
                       href="{{ url("bderevent_participantsmanager_add") }}">Ajouter</a>
                </div>
            </div>
        </h1>
    </div>
    <div class="row">
            <table id="table_participants" class="table table-bordered table-hover table-striped">
                <thead>
                <tr id="search">
                    <th class="col-md-1">Nom</th>
                    <th class="col-md-1">Prénom</th>
                    <th class="col-md-2">Email</th>
                    <th class="col-md-1">Type</th>
                    <th class="col-md-1">Utilisé</th>
                    <th class="col-md-1">Clef</th>
                    <th class="col-md-2">Invité par</th>
                    <th class="col-md-2"></th>
                </tr>
                </thead>
                <tbody id="participants">
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.lastName }}</td>
                        <td>{{ participant.firstName }}</td>
                        <td>{{ participant.email }}</td>
                        <td>{{ participant.type }}</td>
                        <td>{{ participant.used?'Oui':'Non' }}</td>
                        <td>{{ invite_token(participant) }}</td>
                        <td>{{ participant.invitedBy }}</td>
                        <td><div class="btn-group" role="group">
                                <a href="{{ url("return_mail",{key:invite_token(participant)}) }}"
                                   class="btn btn-primary">{{ icon('link') }}</a>
                                <a href="{{ url("bderevent_participantsmanager_resendmail",{id:participant.id}) }}"
                                   class="btn btn-primary">{{ icon('envelope') }}</a>
                                <a href="{{ url("bderevent_participantsmanager_edit",{id:participant.id}) }}" class="btn btn-primary">{{ icon('edit') }}</a>
                                <a href="{{ url("bderevent_participantsmanager_delete",{id:participant.id}) }}" class="btn btn-danger">{{ icon('trash') }}</a>
                            </div></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>$(function () {
            $('#table_participants')
                    .removeClass('display')
                    .addClass('table table-striped table-bordered');
        })</script>
{% endblock %}

{% block stylesheets %}


    <script type="text/javascript"
            src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
    {{ parent() }}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#table_participants').DataTable();
        });
    </script>
{% endblock %}