{% extends "::public.html.twig" %}

{% block title %}Billetterie{% endblock %}

{% block content %}
    <a title="Logiciel billetterie en ligne" href="https://www.weezevent.com//?c=sys_widget"
       class="weezevent-widget-integration" target="_blank"
       data-src="https://weezevent.bde-insa-lyon.fr/widget_billeterie.php?id_evenement=141223&amp;lg_billetterie=1&amp;code=10202&amp;resize=1&amp;width_auto=1&amp;color_primary=52bdb6"
       data-width="650" data-height="600" data-id="141223" data-resize="1" data-width_auto="1" data-noscroll="1"
       data-nopb="1">Billetterie Weezevent</a>
    <script type="text/javascript" src="{{ asset("bundles/bderevent/js/widget.js") }}"></script>
    <script>
        document.domain = "bde-insa-lyon.fr";
        window.userToken = "{{ token }}";
    </script>
    <div class="hide" id="popup-content">
        <div onclick="$('.security_info_wrapper').fadeOut(2)" id="security_info_close">x</div>
        <p>Vous êtes sur un espace sécurisé utilisant un protocle SSL de cryptage de vos données, certifié par Comodo.
            Vous pouvez en vérifier la validité en cliquant sur l'icône du certificat Comodo.</p>

        <p>Ce protocole de sécurité utilise également la norme HTTPS (au lieu du HTTP)
            depuis les serveurs de bde-insa-lyon.fr.</p>

        <p>Si votre banque l'a activé, le paiement s'effectuera par 3DSecure. Cela garantie la transaction, un code vous
            sera demandé par votre banque.</p>

        <div class="logo_block" style="padding-left: 65px">
            <div id="block_cic"></div>
            <div id="block_visa"></div>
            <div id="block_master"></div>
            <div onclick="window.open('https://secure.comodo.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=CL1&v_search=https://weezevent.bde-insa-lyon.fr/&x=6&y=5')"
                 style="background: url('https://ssl.comodo.com/images/trustlogo/comodo_secure_113x59_transp.png');height: 59px;width:113px; margin-top: -20px; margin-bottom: auto"></div>
        </div>
    </div>
    <script>
        $(function () {
            var trustSection = function () {
                try {
                    var $2 = $($("iframe")[0].contentDocument);
                    var $content = $('#popup-content');
                    if ($content.html() != $2.find('#security_info_popin').html())
                        $2.find('#security_info_popin').html($content.html());
                } catch (ex) {
                }
                return 0;
            };
            var recall = function () {
                if (!trustSection())
                    setTimeout(recall, 500);
            };
            recall();
        });
        $(function () {
            var testBuy = function () {
                try {
                    var $2 = $($("iframe")[0].contentDocument);
                    $2.find("#venteSupenduesOrgaInfo").hide();
                    var test = $2.find(".downloadTicketButton").length;
                    test += $2.find(".message_confirmation_title").length;
                    test += $2.find("#big_check").length;
                    if (test > 0) {
                        console.log("Achat fini!");
                        $.post("{{ url('end_payment', {key: token}, true) }}", {nbInvite: window.nbInvites}, function (data) {
                            console.log(data);
                        });
                        var $invite = $("#invite");
                        $invite.hide();
                        $invite.removeClass("hide");
                        $invite.fadeIn(1500);
                        return 1;
                    }
                } catch (ex) {
                }
                return 0;
            };
            window.checkBuy = true;
            var recall = function () {
                if (!testBuy() && window.checkBuy)
                    setTimeout(recall, 500);
            };
            setTimeout(recall, 500);
        });
        window.nbInvites = 0;
        $(function () {
            var recall = function () {
                if (!hookForm())
                    setTimeout(recall, 500);
            };
            var hookForm = function () {
                try {
                    var $2 = $($("iframe")[0].contentDocument);
                    var test = $2.find("#submitTicketForm").length;
                    test += $2.find("input[name='current_step']").val() == 'tickets';
                    if (test > 0) {
                        var form = $2.find("#FormBilleterie");
                        form.find(".bloc_liste_billets").show();
                        form.find(".picto_cat").hide();
                        var iframeWindow = $("iframe")[0].contentWindow;
                        updateAmountTickets = function () {
                            iframeWindow.$("input[name^='id_code_cpt_']").each(function () {
                                var idPrice = iframeWindow.$(this).val();
                                var positionPrice = iframeWindow.$('#cpt_chps_' + idPrice).val();
                                var amountPrice = iframeWindow.$('#montantBilletInitial_' + positionPrice).val();
                                if (amountPrice > 0 && iframeWindow.$('#quantite_' + idPrice).val() >= 0) {
                                    iframeWindow.verifQuantitesEvMax();
                                    iframeWindow.majPrixBillet(amountPrice, idPrice, positionPrice);
                                }
                            });
                        };

                        // Demande de fagot :
                        $2.find(".close").unbind("click");
                        $2.find(".close").hide();
                        $2.find(".ticket_table_header").hide();
                        $2.find(".ticket_table_header").first().show();

                        // Mange hidden products
                        var type = "{{ participant.type.name }}" == "Diplomé" ? 1 : 0;
                        var hide = [];
                        var maxTicket = 0;
                        var $errorMaxModal = $("#tooMuchPlace");
                        var $quantitySelect = $2.find(".quantitySelect");
                        switch (type) {
                            case 0:
                                hide = [
                                    "642053",
                                    "632275",
                                    "650035"/* MD */,
                                    "650036"/* M1 */,
                                    "641927"/* Pack LD */,
                                    "632253"/* Pack L1 */,
                                    "642074",
                                    "632277"/* Pack XXL */
                                ];
                                maxTicket = 1;
                                $errorMaxModal = $("#tooMuchPlaceGuest");
                                $2.find("#ticket_table_632276").find(".billetterie_tb_nom").contents().filter(function () {
                                    return this.nodeType == 3
                                }).each(function () {
                                    this.textContent = this.textContent.replace(' (1 personne invité)', '');
                                });
                                break;
                            default:
                                hide = ["645592", "645590", "650038", "632276"];
                                maxTicket = 8;
                                $errorMaxModal = $("#tooMuchPlaceGraduate");
                        }
                        var checkAndStore = function () {
                            var sum = 0;
                            $quantitySelect.each(function (id, select) {
                                var value = parseInt($(select).val());
                                if ($(select).attr('id') == "quantite_632277")
                                    value = value * 2;
                                sum += value;
                                console.log(sum);
                            });
                            if (sum > maxTicket) {
                                $quantitySelect.val(0);
                                updateAmountTickets();
                                $errorMaxModal.modal()
                            }
                        };
                        $quantitySelect.change(checkAndStore);

                        hide.forEach(function (value) {
                            $2.find("#ticket_table_" + value).hide();
                        });

                        $2.find("#submitTicketForm").click(function () {
                            setTimeout(recall, 1000);
                        });
                        form.submit(function (e) {
                            e.preventDefault();
                            setTimeout(recall, 1000);
                        });
                        return 1;
                    }
                } catch (ex) {
                }
                return 0;
            };
            recall();
        })
    </script>
    <div class="modal fade" id="tooMuchInvites" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Erreur</h4>
                </div>
                <div class="modal-body">
                    Vous ne pouvez pas avoir plus de 7 invités.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer ce message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="tooMuchPlace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Erreur</h4>
                </div>
                <div class="modal-body">
                    Vous avez atteint la limite de place !
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer ce message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="tooMuchPlaceGuest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Erreur</h4>
                </div>
                <div class="modal-body">
                    Vous ne pouvez pas prendre prendre plus d'une place en tant qu'invité
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer ce message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="tooMuchPlaceGraduate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Erreur</h4>
                </div>
                <div class="modal-body">
                    Vous ne pouvez pas prendre plus de 8 billets (1 pour vous et 7 invités)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer ce message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 hide col-md-offset-5" id="invite">
        <a href="{{ path('invite', {'key': token}) }}" class="btn btn-primary">Inviter des proches</a>
    </div>
{% endblock %}
